# Credentials below are for server
__DEV__=false
USE_HTTPS=true
NORD_TOKEN=YOUR_NORDVPN_TOKEN
JWT_SECRET=YOUR_JWT_SECRET_KEY
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD
DEEPL_TRANSLATOR_API=YOUR_DEEPL_API_KEY
# Credentials below are for Firebase FCM Configuration for Server
FIREBASE_SERVICE_ACCOUNT='{"type":"service_account","project_id":"your-project","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com",...}'
# Credentials below are for database
IV=YOUR_ENCRYPTION_IV_FOR_PASSWORDS
WS_URL=wss://your-domain/ws # This should be your WS server URL
API_URL=https://your-domain/api # This should be your API server URL
POSTGRES_DB=UtilitiesDB
DATABASE_URL="postgresql://postgres:YOUR_DB_PASSWORD@postgres:5432/UtilitiesDB?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASS=YOUR_DB_PASSWORD
FCM_SERVER_KEY=YOUR_FCM_SERVER_KEY
DB_ENCRYPTION_PASS=YOUR_DB_ENCRYPTION_PASSWORD