# Credentials below are for server
PORT=3000
HOST=localhost
USE_HTTPS=false
JWT_SECRET=YOUR_JWT_SECRET_KEY
SUPABASE_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL
VAPID_PUBLIC_KEY=YOUR_VAPID_PUBLIC_KEY_GENERATED_WITH_web_push
VAPID_PRIVATE_KEY=YOUR_VAPID_PRIVATE_KEY_GENERATED_WITH_web_push
EMAIL_APP_SUPABASE=YOUR_ADMIN_EMAIL_IN_SUPABASE_AUTH
DELETE_OLD_SESSIONS=IF_YOU_WANT_TO_DELETE_OLD_SESSIONS_AFTER_SERVER_INITIALIZATION
DEEPL_TRANSLATOR_API=YOUR_DEEPL_API_KEY
PASSWORD_APP_SUPABASE=YOUR_ADMIN_PASSWORD_IN_SUPABASE_AUTH
# Credentials below are for app
WS_URL=ws://localhost:3000/ # This should be your WebSocket server URL
API_URL=http://localhost:3000/api # This should be your API server URL
FCM_SERVER_KEY=YOUR_FCM_SERVER_KEY
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD