# Credentials below are for server
HOST=localhost
PORT=3000
USE_HTTPS=false
EMAIL_APP_SUPABASE=YOUR_ADMIN_EMAIL_IN_SUPABASE_AUTH
PASSWORD_APP_SUPABASE=YOUR_ADMIN_PASSWORD_IN_SUPABASE_AUTH
VAPID_PUBLIC_KEY=YOUR_VAPID_PUBLIC_KEY_GENERATED_WITH_web_push
VAPID_PRIVATE_KEY=YOUR_VAPID_PRIVATE_KEY_GENERATED_WITH_web_push
# Credentials below are for app
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=public-anon-key
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD
DEEPL_TRANSLATOR_API=YOUR_DEEPL_API_KEY