# Credentials below are for server
__DEV__=false
USE_HTTPS=false
JWT_SECRET=YOUR_JWT_SECRET_KEY
VAPID_PUBLIC_KEY=YOUR_VAPID_PUBLIC_KEY_GENERATED_WITH_web_push
VAPID_PRIVATE_KEY=YOUR_VAPID_PRIVATE_KEY_GENERATED_WITH_web_push
DEEPL_TRANSLATOR_API=YOUR_DEEPL_API_KEY
# Credentials below are for Firebase FCM Configuration for Server
FIREBASE_SERVICE_ACCOUNT='{"type":"service_account","project_id":"your-project","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com",...}'
# Credentials below are for database
DB_USER=Utilities
DB_PORT=5432
DB_PASS=YOUR_DB_PASSWORD
DB_NAME=UtilitiesDB
DB_HOST=localhost
DB_ENCRYPTION_PASS=YOUR_DB_ENCRYPTION_PASSWORD
# Credentials below are for app
WS_URL=ws://localhost:3000/ws # This should be your WebSocket server URL
API_URL=http://localhost:3000/api # This should be your API server URL
FCM_SERVER_KEY=YOUR_FCM_SERVER_KEY
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD
IV=YOUR_ENCRYPTION_IV_FOR_PASSWORDS